.button_design{
    color:white;
    cursor: pointer;
    border: none;
    width: 100px;
    height:50px;
    background-color: green;
    display:flex;
    align-items: center;
    margin: 10px;
    justify-content: center;
    font-size: large;    
}