.ul{
    background-color: aquamarine;
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin:10px;
    padding:10px;
    width: 400px;
    height:auto;
    cursor: pointer;
}