html{
}

input{
    padding:10px;
    width:100%;

}

button{
    width: 100%;
    padding: 10px;
}

.box{
    display:flex;
    margin-bottom: 20px;
}



#randomNumber{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 20px;
    font-weight:800 ;
    font-size: 2em;
    border-style: solid;
}